<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grafico Alignent</title>
  </head>

  <body>
    <div style="width: 70%; margin: auto">
      <canvas id="lienzo"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const contexto = document.querySelector("#lienzo");
      const grafico = new Chart(contexto, {
        type: "bar",
        data: {
          labels: [],
          datasets: [
            {
              label: "Los Alignent",
              data: [],
            },
          ],
        },
      });

      (function () {
        fetch(
          `../controllers/alignent.controller.php?operacion=ResumenAlienigena`
        )
          .then((respuesta) => respuesta.json())
          .then((datos) => {
            grafico.data.labels = datos.map((registro) => registro.Bando);
            grafico.data.datasets[0].data = datos.map(
              (registro) => registro.heroes
            );
            grafico.data.labels[[0]] = "None Alignment";
            grafico.update();
          });
      })();
    </script>
  </body>
</html>
